.portfolio[data-v-bbf9a11a] {
    padding: 100px 0;
    height: 710px;
    position: relative;
}

.visible-tablet-sm[data-v-bbf9a11a] {
    display: none!important;
}

.portfolio .container[data-v-bbf9a11a] {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1440px){
.container {
    max-width: 1152px;
}}

.portfolio__list[data-v-bbf9a11a] {
    width: 100%;
    max-width: 503px;
    margin-right: 24px;
}

.portfolio__list>h2[data-v-bbf9a11a] {
    font-weight: 800;
    font-size: 40px;
    line-height: 125%;
    color: #042055;
    margin: 0 0 24px;
}

.portfolio__list>p[data-v-bbf9a11a] {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #042055;
    margin: 0 0 48px;
}

.portfolio__item.active[data-v-bbf9a11a] {
    background-color: #fff;
    box-shadow: 12px 28px 52px rgb(67 98 158 / 10%);
}

.portfolio__item[data-v-bbf9a11a] {
    transition: background-color .2s;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.portfolio__item b[data-v-bbf9a11a] {
    font-size: 22px;
    color: #042055;
    display: inline-block;
    transition: padding .15s;
    width: 100%;
}
.portfolio__item.active b[data-v-bbf9a11a] {
    font-weight: 800;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent!important;
}

.portfolio__item .arrow[data-v-bbf9a11a] {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #387ff6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .15s;
    background: #fff;
    opacity: 0;
    visibility: hidden;
}
.portfolio__item.active .arrow[data-v-bbf9a11a] {
    opacity: 1;
    visibility: visible;
}

.portfolio__images[data-v-bbf9a11a] {
    width: 552px;
    min-width: 552px;
    position: relative;
}
.portfolio__images-wrap[data-v-bbf9a11a] {
    width: 100%;
}
.portfolio__images-wrap img[data-v-bbf9a11a] {
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(-60px) scale(.95);
    transition: .5s;
    cursor: pointer;
}
.portfolio__images-wrap img.active[data-v-bbf9a11a] {
    opacity: 1;
    transform: translateY(0) scale(1);
}

@media screen and (max-width: 768px)
{
.portfolio[data-v-bbf9a11a] {
    height: auto;
    padding: 40px 0;
}

.visible-tablet-sm[data-v-bbf9a11a] {
    display: flex!important;
}
}


@media screen and (max-width: 600px){
.container {
    padding: 0 24px;
}}

@media screen and (max-width: 600px){
.container {
    padding: 0 24px;
}
}

@media screen and (max-width: 768px){
.portfolio__list>h2[data-v-bbf9a11a] {
    font-size: 22px;
    line-height: 135%;
    margin: 0 0 18px;
}}

@media screen and (max-width: 768px){
.portfolio__list>p[data-v-bbf9a11a] {
    font-size: 14px;
    margin-bottom: 24px;
}}

@media screen and (max-width: 768px){
.portfolio__item[data-v-bbf9a11a]:not(:last-of-type) {
    margin-bottom: 18px;
}}

@media screen and (max-width: 1024px){
.portfolio__item b[data-v-bbf9a11a] {
    font-size: 20px;
}}

@media screen and (max-width: 768px){
.portfolio__images[data-v-bbf9a11a] {
    display: none;
}}

@media screen and (max-width: 768px){
.portfolio__images[data-v-bbf9a11a] {
    display: none;
}}

.portfolio__item > p{
    text-decoration: none;
    color: #1A2055;
    font-size: 18px;
}